#
# @see http://editorconfig.org/
#

root = true

[Makefile]
indent_style = tab

[*.{c,cpp,go,js,php}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{lua,html,tpl,xml}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
